@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Georgia&family=Courier+New&display=swap");

body a {
  text-decoration: none;
}

.ql-editor {
  font-family: "IBM Plex Sans", sans-serif;
}
body {
  height: 100vh;
  font-family: "Arial";
  color: white;
}
.ql-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}

.ql-table td,
.ql-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.myBox {
  background-color: white;
  width: 500px;
  height: 500px;
  clip-path: url(#svgPath);
  color: red;
}

.container {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
}

.content {
  display: flex;
  gap: 5em;
  width: 100%;
  padding-top: 3em;
  position: relative;
}

.content:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid white;
  transform: scaleX(1);
}

h1 {
  font-size: 4rem;
  width: 50vw;
  line-height: 97%;
  text-align: right;
}

section {
  height: 100vh;
  color: white;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
#clip {
  background: var(
    --linear-1,
    linear-gradient(135deg, #001277 0%, #148e7e 76.87%, #19a97f 100%)
  );

  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  font-size: 28vw;
  font-weight: bold;
  text-align: center;
}
.ql-toolbar {
  background-color: rgba(255, 255, 255, 0.7) !important;
}

.wave {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100vw;
}
/* Define CSS classes for your custom fonts */
.ql-font-Roboto {
  font-family: 'Roboto', sans-serif;
}
.ql-font-Times-New-Roman {
  font-family: 'Times New Roman', serif;
}
.ql-font-Courier-New {
  font-family: 'Courier New', monospace;
}
.ql-font-Georgia {
  font-family: 'Georgia', serif;
}
.ql-font-Tahoma {
  font-family: 'Tahoma', sans-serif;
}
.ql-font-Verdana {
  font-family: 'Verdana', sans-serif;
}
